{% load static %}
<nav class="teal" role="navigation">
   <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'home_page' %}" class="brand-logo">COMOCO : Djuzur Al Qamar</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
         <li class="active"><a href="{% url 'home_page' %}">Accueil</a></li>
         <li><a href="#">Nos Articles</a></li>
         <li><a href="#">A propos de nous</a></li>
         <li><a href="#">Nous contacter</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
         <li class="active"><a href="{% url 'home_page' %}">Accueil</a></li>
         <li><a href="#">Nos Articles</a></li>
         <li><a href="#">A propos de nous</a></li>
         <li><a href="#">Nous contacter</a></li>
      </ul>
  </div>
</nav>



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Notre passions à la langue Comorienne !</h1>
      <div class="row center">
        <!-- <h5 class="header col s12 light"></h5> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/background.jpg' %}"></div>
</div>